services:
  ourapython:
    restart: unless-stopped
    container_name: ourapython
    image: ourapython:latest
    networks:
      ouranet:
        ipv4_address: 2.2.2.2
    depends_on:
      influxdb2:
        condition: service_healthy
    env_file:
      - stack.env

  influxdb2:
    restart: unless-stopped
    container_name: influxdb2
    image: influxdb:2.7.3-alpine
    networks:
      ouranet:
        ipv4_address: 2.2.2.3
    ports:
      - "8086:8086"
    volumes:
      - influxdb:/var/lib/influxdb2
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:8086/health | grep -q '\"status\":\"pass\"'"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    env_file:
      - stack.env
  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    networks:
      ouranet:
        ipv4_address: 2.2.2.4
    ports:
      - "3003:3003"
      - "3000:3000"
    volumes:
      - grafana:/var/lib/grafana
    depends_on:
      influxdb2:
        condition: service_healthy


volumes: 
  influxdb:
    external: true
  grafana:
    external: true
 

networks:
  ouranet:
    ipam:
      config:
        - subnet: 2.2.2.0/24
